@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Silkscreen:wght@400;700&display=swap');

header {
  font-family: "Handjet", sans-serif;
}

.navbar {
  transition: background-color 0.5s ease;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.nav-link {
  transition: color 0.5s ease;
}

.nav-link:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus, .navbar-toggler:active {
  border: 2px solid white;
  outline: none;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  background-color: #2b2d36;
  overflow-y: auto;
}

section {
  margin-top: 50px;
  border-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 40px;
  max-width: 1000px;
  width: 100%;
  color: #373A40;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h2 {
  font-family: "Silkscreen", sans-serif;
  font-size: 3em;
  color: #ee700d;
  margin-bottom: 20px;
  text-align: center;
}

.genres-cont {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  position: relative;
}

.genre {
  background: rgba(55, 58, 64, 0.5);
  border-radius: 5px;
  padding: 0;
  width: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.genre:hover {
  transform: scale(1.05);
}

.genre-info {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Silkscreen", sans-serif;
  font-size: 1.2em;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  z-index: 1;
}

.genre:hover .genre-info {
  opacity: 1;
  visibility: visible;
}


.icon {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
}

.genre:hover .icon {
  opacity: 0;
}

h3 {
  font-size: 1.8em;
  color: #ee700d;
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-size: 1.2em;
  color: #dedecf;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .genre {
    width: 100%;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.7em;
  }

  p {
    font-size: 1.1em;
  }

  .navbar {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .genre {
    width: 100%;
  }

  h2 {
    font-size: 2.2em;
  }

  h3 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.1em;
  }

  .navbar {
    flex-direction: column;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    width: 100%;
    text-align: center;
  }
}

.modal-header .btn-close {
  background-color: red;
  opacity: 1;
}

.modal-header .btn-close:hover {
  background-color: darkred;
}
